@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);

body {
    background-color: #1f1f1f;
}

.myclass table {
    table-layout: auto !important;
}

select, input {
    outline: none;
}

.myclass th, .myclass td, .myclass thead th, .myclass tbody td, .myclass tfoot td, .myclass tfoot th {
    width: auto !important;
    text-align: left;
    color: #bfbfbf;
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #bfbfbf;
}

#preview td, #preview tbody td, #preview tfoot td, #preview tfoot th {
    font-family: 'Courier New', monospace;
}

@keyframes load {
    0% {
        opacity: 0.08;
        /*         font-size: 10px; */
        /* 				font-weight: 400; */
        filter: blur(5px);
        letter-spacing: 3px;
    }
    100% {
        /*         opacity: 1; */
        /*         font-size: 12px; */
        /* 				font-weight:600; */
        /* 				filter: blur(0); */
    }
}

.animate {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    /* 	width: 350px; */
    /* 	font-size:26px; */
    font-family: Helvetica, sans-serif, Arial;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
}